Repository matrix-nio/matrix-nio, pull requests merged in 2024-03, with the labels that each got.

#449 Aggregated Event Relations + Threading + Threaded/Private Read Receipts
  nio/api.py
  nio/client/async_client.py
  nio/client/base_client.py
  nio/events/ephemeral.py
  nio/responses.py
  nio/rooms.py
  nio/schemas.py
  test-requirements.txt
  tests/async_client_test.py
  tests/room_test.py
Labels: enhancement, events, api

#486 fix(spec): `RoomContext` has no required field theoretically
  nio/responses.py
  nio/schemas.py
Labels: api

#489 Spec: Compliance with MSC2844
  nio/api.py
  nio/client/async_client.py
  nio/client/http_client.py
  tests/api_test.py
  tests/async_client_test.py
  tests/conftest.py
  tests/conftest_async.py
Labels: enhancement, api
